<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTPS} off [OR]
  RewriteCond %{HTTP_HOST} ^www\. [NC]
  RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
  RewriteRule ^ https://%1%{REQUEST_URI} [L,NE,R=301]

</IfModule>

<IfModule mod_headers.c>
  # Enable HSTS with a max age of 31536000 seconds (1 year)
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  
  # Set Content Security Policy to restrict resources to the same origin
  Header set Content-Security-Policy "default-src 'self';"
  
  # Set Referrer Policy to no-referrer
  Header set Referrer-Policy "no-referrer"
  
  # Set X-Content-Type-Options to nosniff
  Header set X-Content-Type-Options "nosniff"
</IfModule>